/* Login */
.app {
    display: flex;
    height: 100vh; /* Makes the container span the full height of the viewport */
  }
  
  .left-pane,
  .right-pane {
    flex: 4; /* Makes both panes take up equal space */
    background-color: white; /* Optional: Colors the right pane */
  }
  
  
  .left-pane {
    flex: 4;
    display: flex;
    background-color: lightblue;
    justify-content: center !important;
    align-items: center;
    height: 100vh /* Optional: Colors the left pane */
  }
  .centered-content {
    text-align: center;
  }

    
  .right-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* Ensure it takes up full width */
  }
  .btn-oval {
    border-radius: 50px !important; /* Half of the button's height */
    width: calc(100% - 2 * 0.25rem) !important; /* Adjust padding if needed */
    padding-top: 10px !important; /* Increase top padding to make the button taller */
    padding-bottom: 10px !important; 
    background-color: #0384fc !important;
  }
  .mini{
    color: #afbec4;
  }
.cred{
  font-weight: 500;
  color: #233138;
}


.form-control.blue-line {
  border-left: 4px solid #0384fc !important/* Blue color */
}




.log{
   color: #0384fc;
   font-weight: 500;
}

.left-pane {
  background-image: url('./assets/blue resize.jpg'); /* Replace './path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
}
.query{
  color: #afbec4;
  font-weight: 100 !important;
  font-family: 'Montserrat';
  font-size: 15 !important;
  padding: 0 20%
}
.qu{
  color: #afbec4;
  bottom: 20px; 
  position: absolute;
  left: 200px;
}
.welc{
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  .app {
    flex-direction: column; /* Stack the panes vertically */
  }
  
  .left-pane {
    flex: 3; 
  }

  .right-pane {
    flex: 7; 
  }
 .welc{
  padding-top: 20px;
 }
 .query{
  padding: 0 0%
 }
  .qu{
    left: 40px;
    bottom: 5px; 
  }
  .mob{
    padding: 5% 25px;
  }
  .form-control {
    width: 100% !important; 
    padding: 10px 12px !important; 
   }

}

/* Form */
.form-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;}

.form {
 
  width: 500px;
  padding: 20px;
  background-color: #ffffff;

  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center the form horizontally */
  margin-top: 50px;
  margin-left: 50px;; /* Adjust the top margin */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

input[ type='password'],
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #007bff; /* Submit button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; /* Hover color */
}

.form-image {
align-items: center;
  flex: 1;
  padding-left: 50px; /* Adjust the space between form and image */
}

.form-image img {
  max-width: 70%;
  height: auto;
  border-radius: 8px;
}

.half {
  width: 48%; /* Adjust half width */
  display: inline-block;
}
.half2 {
  width: 48%; /* Adjust half width */
  display: inline-block;
  margin-left: 0.5rem;

}

.half label {
  display: block;
  margin-bottom: 5px;
}

.half input {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 .heading_form{
  color: #333;
 }
.right-panes{
  flex: 7;
  align-items: center;
  padding-top: 50px;
  background-color: whitesmoke;
}
.querys{
  color: #afbec4;
  font-weight: 100 !important;
  font-family: 'Montserrat';
  font-size: 15 !important;
}
.quu{
  color: #afbec4;
  bottom: 20px; 
  position: absolute;
  left: 120px;
}
@media (max-width: 767px) {
  .half {
    width: 104%; /* Adjust half width */
    display: inline-block;
    margin-bottom: 5px;
  }
  .half2 {
    width: 100%; /* Adjust half width */
    display: inline-block;
    margin-left: 0;
  }
  .quu{
    display: none;
  }
}